body {
    background-color: #DFD0B8; /* Color de fondo */
    font-family: 'Roboto Mono', monospace;
}

/* Contenedor de la tabla de alumnos */
.tableAlumnos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #948979; /* Color de fondo */
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

/* Contenedor de las películas */
.peliculas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #948979; /* Color de fondo */
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

/* Estilos para las tablas */
.table, .peli {
    background-color: #344e5f; /* Color de fondo */
    color: #333333; /* Color del texto */
    padding: 40px;
    margin-top: 40px;
}

.demo th {
    border: 1px solid #CCCCCC; /* Borde de las celdas */
    padding: 10px;
    background: #F0F0F0; /* Color de fondo de las celdas del encabezado */
}

.demo td {
    border: 1px solid #CCCCCC; /* Borde de las celdas */
    padding: 10px;
}

/* Estilos para los botones */
button {
    width: 150px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    margin: 10px;
    padding: 5px;
    background-color: #153448; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #507286; /* Cambio de color al pasar el mouse */
}

/* Estilos para los títulos */
#title, #titlePeliculas {
    display: flex;
    color: #333333; /* Color del texto */
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilos para las imágenes */
.peli img {
    width: 200px; /* Ancho de las imágenes */
    height: 300px; /* Alto de las imágenes */
    margin: 10px;
}
